<%- include('../partials/header'); %>

<section>
    <h2>Modifier "<%= species.name %>"</h2>
    <form action="/species/<%= species.id %>/edit" method="POST">
        <div>
            <input type="text" name="name" value="<%= species.name %>" placeholder="Nom" required autofocus>
        </div>
        <div>
            <input type="text" name="scientificName" value="<%= species.scientificName %>" placeholder="Nom scientifique" required autofocus>
        </div>
        <div>
            Besoin en eau (de 1 à 5)
            <input name="waterNeeded" value="<%= species.waterNeeded %>" type="number" min="1" max="5">
        </div>
        <div>
            Besoin en lumière (de 1 à 5)
            <input name="lightNeeded" value="<%= species.lightNeeded %>" type="number" min="1" max="5">
        </div>
        <div>
            <textarea name="description" cols="30" rows="10" placeholder="Description"><%= species.description %></textarea>
        </div>
        <div><button type="submit">Mettre à jour</button></div>
    </form>
</section>

<%- include('../partials/footer'); %>